{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : au royaume des mangas' %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="jumbotron">
            <div class="container text-center">
                <p style="font-weight: bold; font-size : 2rem;">Récapitulatif de mon panier</p><br><br><br>
            </div>
            <div class="container">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>
    {% endif %}
{% endblock %}