{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : Administration - création' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h1>MODIFICATION DES PRODUITS</h1>
            </div>
        </div>
    </div>
        <br>
        <div class="container mt-4">
        {{ include ('admin/produit/_form.html.twig', {button: 'Enregistrer'}) }}
    </div>
    </div>
{% endblock %}
