{% extends 'base.html.twig' %}

{% block title 'TRINTAR.com : au royaume des mangas' %}

{% block body %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>BIENVENUE DANS LA CONFRERIE DE TRINTAR</h1>
        </div>
    </div>
    <div class="jumbotron">
    <div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
    <div class="section col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="section-headline">
                <h2>
                    QU'EST-CE QUE TRINTAR.COM ?
                </h2>
                <br>
                <p>
                    TRINTAR.com est un site web fictif réalisé pour le projet de PPE de la seconde année du BTS SIO. Son but est de simuler un site web marchand sur le thème de son choix. Sur ce présent site, on pourra :
                </p>
            </div>
        <br>
            <div class="section-content row">
                <div class="skill col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>DECOUVRIR</h3>
                    <p>
                        il sera possible de découvrir plus en profondeur l'univers des mangas, des genres et peut-être s'interresser davantage aux bandes dessinées japonaises !
                    </p>
                </div>
                <div class="service col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>S'INFORMER</h3>
                    <p>vous pourrez vous informer sur les procédures de paiements, de comment simuler l'achat à partir d'une entreprise etc...</p>
                </div>
                <div class="independance col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>OBTENIR</h3>
                    <p>il vous sera possible de simuler le paiement de manga dans un magasin précis tout en choisissant les tomes que vous souhaitez.</p>
                </div>
            </div>
        <br>
    </div>
    </div>
        <div class="section col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="section-headline">
                <div class="row">
                <div class="col-md-4">
                    <div class="section-action row">
                        <a class="btn btn-primary btn-lg mx-auto" href="{{ path('trintar.produit') }}">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Voir tous les produits
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>
                        LES DIFFERENTS GENRES DE MANGA
                    </h2>
                </div>
                <div class="col-md-4"></div>
                </div>
                <br>
            </div>
            <br>
            <div class="section-content row">
                <div class="skill col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>SHONEN</h3>
                    <p>Un shonen est une catégorie de bande dessinée japonaise, de type manga, qui est destinée à un lectorat de sexe masculin et adolescent, qui se décline en plusieurs genres comme le nekketsu ou le pantsu.</p>
                </div>
                <div class="service col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>SEINEN</h3>
                    <p>Seinen est un terme japonais qui signifie " jeune homme ". En Occident, il désigne cependant des mangas, sorte de BD japonaise, destinés aux jeunes hommes âgés de 18 à 30 ans.</p>
                </div>
                <div class="independance col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>SHOJO</h3>
                    <p>Shōjo (少女) est un mot japonais signifiant jeune fille ou petite fille. Le shōjo manga est une bande dessinée japonaise publiée dans un magazine de prépublication dont la cible éditoriale est avant tout constituée de jeunes adolescentes.</p>
                </div>
                <br>
                <div class="skill col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>YURI</h3>
                    <p>Le yuri, aussi appelé Girls' Love, désigne dans la culture populaire japonaise un genre d'œuvres de fiction centré sur les relations intimes entre femmes, qu'elles soient émotionnelles, sentimentales ou encore sexuelles.</p>
                </div>
                <div class="service col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>YAOI</h3>
                    <p>Le yaoi est historiquement un genre de mangas dessiné par des femmes pour des femmes, dans lequel l'intrigue est basée sur une histoire homosexuelle entre deux hommes, et qui comporte généralement des scènes de sexe.</p>
                </div>
                <div class="independance col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>ECCHI</h3>
                    <p>En Occident, le terme ecchi est utilisé pour désigner un genre de manga à connotation sexuelle, plus précisément un manga érotique mais non pornographique. En revanche, au Japon, le terme ecchi fait référence à la pornographie.</p>
                </div>
                <br>
                <div class="skill col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>JOSEI</h3>
                    <p>Le josei manga est un style de manga dont la cible éditoriale est avant tout constituée par les jeunes adultes (de 15 à 30 ans) de sexe féminin. Il arrive cependant que le genre soit destiné à des personnes plus âgées.</p>
                </div>
                <div class="service col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h3>ISEKAI</h3>
                    <p>Isekai est une contraction japonaise qui signifie "autres mondes". On regroupe sous ce terme les histoires où les personnages, qui vivent une vie ordinaire dans leur monde d'origine, sont transportés subitement dans un monde complètement inconnu à eux.</p>
                </div>
            </div>
            <br>
        </div>
    </div>
    </div>
        <div class="jumbotron">
    <div class="section col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div id="section-local">
            <div class="section-headline">
                <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <h2>
                    LES DERNIERS PRODUITS ENREGISTRES
                </h2>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('trintar.produit') }}" style="float:right;">Voir plus de produits</a>
                </div>
                <br>
                    <br>
            </div>
            </div>
            <div class="row flex">
                {% for produit in produits %}
                    <div class="col-md-2">
                        {% include 'trintar/_produit.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        </div>
    </div>
    </div>



{% endblock %}