<h3>Bonjour {{ app.user.nom }} {{ app.user.prenom }}</h3>

Nous vous remercions pour votre confiance et nous vous informons pour votre facture n°{{ token }} d'un montant de {{ total }} € est disponible en pièce jointe.
<br>
<br>
Merci et à très bientôt sur TRINTAR.com !
<h4>L'équipe TRINTAR</h4>