<h3>Vous l'avez fait ! Vous êtes membre de TRINTAR.com !</h3>

Bonjour, vous vous êtes bien enregistrés ! Toute l'équipe de TRINTAR.com vous souhaite un bon séjour.
<br>
<br>
Pour vous connecter, cliquez sur : <a href="{{ url('app_login') }}">connexion</a>.
<br>
<br>
Cordialement.
<br>
<br>
TRINTAR.com