<h3>Chère/Cher,</h3>

Merci de vous êtes inscrit/e sur le site web TRINTAR.com.
Veuillez cliquer sur le lien suivant pour terminer votre inscription : <a href="{{ url('confirm_account', {token: token, username: username}) }}">Confirmer mon inscription</a>.
<br>
<br>
Merci et à très bientôt sur TRINTAR.com !
<h4>L'équipe TRINTAR</h4>